{extend name="common:base" /}
{block name="body"}
<div class="row">
	<div class="col-md-8  col-sm-8">
		<div class="page-header">
		  <h2>{$cateName}</h2>	
		</div>
		
		<div class="row">
			{volist name="artList" id="vo" empty="$empty"}
			<div class="col-md-4">
				<a href="{:url('Index/detail?artid='.$vo['id'])}"><img src="/{$vo.img_title}" class="img-rounded" style="width: 230px;height: 150px"></a>
			</div>
			<div class="col-md-8">
				<h4><a href="{:url('Index/detail?artid='.$vo['id'])}" class="lead">{$vo.title}</a></h4>
				<p>发布者:<mark>{$Think.session.username}</mark></p>
				<p>时间:{$vo.create_time}</p>
				<p>阅读量:{$vo.pv}</p>
				<div class="lead">{$vo.content}<?php if(strlen($vo['content'])>20){echo '...<a href="#">[全文]</a>';}?></div>
				<hr>
			</div>
		{/volist}
		</div>
		<div class="page">{$artList->render()|raw}</div>
	</div>
{/block}





